{port_specs,
 [{"priv/nsync_drv.so", ["c_src/*.c"]}
]}.

{port_env,
 [{"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin)",
   "CFLAGS", "$CFLAGS -g -Wall -Werror -O3 -fno-strict-aliasing"},

  {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin)",
   "LDFLAGS", "$LDFLAGS -lstdc++"}
]}.

{plugins,
 [{pc, {git, "git@github.com:blt/port_compiler.git", {branch, "blt-rebar_team_feedback_shuffle"}}}]}.

{provider_hooks,
 [{pre,
   [{compile, {pc, compile}},
    {clean, {pc, clean}}]}
]}.
