{plugins, [{pc, "1.2.0"}]}.

{port_specs,
 [{"priv/nsync_drv.so", ["c_src/*.c"]}
]}.

{port_env,
 [{"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin)",
   "CFLAGS", "$CFLAGS -g -Wall -Werror -O3 -fno-strict-aliasing"},

  {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin)",
   "LDFLAGS", "$LDFLAGS -lstdc++"}
]}.

{provider_hooks,
 [{pre,
   [{compile, {pc, compile}},
    {clean, {pc, clean}}]}
]}.
